/* ContactForm.css */

.contactSection {
    position: relative;
    /* width: 100; */
    /* height: 90vh; */
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 100px;
    background-color: #8C887C;
  }
  .contactSection::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90vh;
    background-image: url(../../assets/pexels-archisude-329099706-27206257.jpg);
    background-size: cover;
    background-position: center;
  }
  .contactContainer{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;

  }
  .contactContainer h1 {
    position: absolute;
    left: 70px;
    top: 70px;
    font-size: 2rem;
    color: #2a2a2a;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .contactContainer .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color: #333;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  .contactContainer .contactInfo h2{
     color: #fff;
     font-size: 1.5rem;
     font-weight: 500
  }
  .contactContainer .contactInfo ul.info{
    /* list-style-type: none; */
    position: relative;
    margin: 20px 0;
   
  }
  .contactContainer .contactInfo ul.info li{
    list-style-type: none;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    margin: 20px 0;
   
  }
  .contactContainer .contactInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
    color: #fff;
  }
  .contactContainer .contactInfo ul.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
  }
  .contactContainer .contactInfo .icons{
    position: relative;
    display: flex;
     
  }
  .contactContainer .contactInfo .icons a{
    text-decoration: none;
    margin-right: 15px;
    color: #fff;

  }
  .contactContainer .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background-color: #EAE7E1;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    
  }
  .contactContainer .contactForm h2{
    color: #2a2a2a;
    font-size: 1.5rem;
    font-weight: 500;
    
  }
  .contactContainer .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: column;
    gap: 20px; */
    padding-top: 30px;
  }
  .contactContainer .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
    width: 47%;
  }
 
  .contactContainer .contactForm .formBox .inputBoxx{
    position: relative;
    margin-bottom: 35px;
    width: 100%;
  }
  .contactContainer .contactForm .formBox input,
  .contactContainer .contactForm .formBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    background-color: transparent;
  }
  .contactContainer .contactForm .formBox textarea{
    height: 120px;
  }
  .contactContainer .contactForm .formBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.3s;
  }
  .contactContainer .contactForm .formBox input:focus ~ span,
  .contactContainer .contactForm .formBox input:valid ~ span,
  .contactContainer .contactForm .formBox textarea:focus ~ span,
  .contactContainer .contactForm .formBox textarea:valid ~span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2a2a2a;
    font-weight: 500;
  }
  .contactContainer .contactForm .formBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #fff;
    border: none;
    padding: 12px;
    max-width: 150px;

  }
  .contactContainer .contactForm .formBox input[type="submit"]:hover{
    background-color: #2a2a2ac8;
  }
  

  /* responsive */

  @media (max-width : 1200px){

    .contactContainer{
      width: 90%;
      min-width: auto;
      margin: 20px;
      /* min-height: auto; */
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
    .contactContainer .contactInfo{
      top: 0;
      height: 550px;
      position: relative;
      box-shadow: none;
    }
    .contactContainer .contactForm{
      position: relative;
      width: calc(100% - 350px);
      padding-left: 0;
      margin-left: 0;
      padding: 40px;
      height: 550px;
      box-shadow: none;
    }
  }
  @media (max-width: 991px){
    .contactSection{
      background-image: url(../../assets/pexels-archisude-329099706-27206257.jpg);
      background-size: cover;
      background-position: center;
    }
    .contactSection::before{
      /* background-image: none; */
      display: none;
     
    }
    .contactContainer{
      display: flex;
      flex-direction: column-reverse;
    }
    .contactContainer .contactForm{
      width: 100%;
      height: auto;
    }
    .contactContainer .contactInfo{
      width: 100%;
      height: auto;
      flex-direction: row;
    }
    .contactContainer .contactInfo .icons{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width : 600px){
    
    .contactContainer .contactForm{
     padding: 25px;
    }
    .contactContainer .contactInfo{
      padding: 25px;
      flex-direction: column;
      align-items: flex-start;
    }
    .contactContainer .contactInfo .icons{
      margin-top: 40px;
    }
    .contactContainer .contactForm .formBox .inputBox{
      width: 100%;
    }
  }
  