

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  
}




.product {
  flex: 1 1 calc(25% - 40px);
 /* width: 70%; */
  max-width: 250px; 
  position: relative;
  border: 1px solid;
  float: left;
  
  /* max-width: 300px; تأكدي أن الحجم مناسب */
  /* min-width: 250px; لمنع العناصر من الانهيار */
  box-sizing: border-box; /* للتأكد من احتساب الـ padding مع الأبعاد */

}

.productImg {
  height: 300px;
  width: 100%;
  align-items: center;
  display: block;
}

.productImg img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.product h2 {
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 5px;
  text-align: center;
}

.product h3 {
  font-size: 13px;
  margin-left: 10px;
}

.maximumNotice {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
  color: #2B2F22;
}

.wishlistBtn {
  position: absolute;
  right: 7px;
  bottom: 40px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wishlistBtn:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}

.product button {
  background-color: #96968C;
  border: 0;
  border-radius: 0;
  width: 100%;
}

.product button:hover {
  background-color: #2B2F22;
}


@media (max-width: 1000px) {
  .productContainer{
    width: 90%;
  }
  .product {
    flex: 1 1 calc(50% - 20px); /* تقليل عدد الأعمدة إلى 2 */
    max-width: 400px;
  }
}

@media (max-width: 750px) {
  .productContainer{
    width: 100%;
  }
  .product {
    flex: 1 1 100%; /* عرض منتج واحد فقط في الصف */
    max-width: 500px;
  }
}


