
.category{
  margin-top: 50px;
  margin-bottom: -30px;
}
.category h4{
  font-size: 16px;
  margin-left: 7px;
}

.categoryImg {
  position: relative;
  border: 1px solid black;
  width: 230px;
  height: 300px;
  overflow: hidden;
}

.firstImg,
.secondImg {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 96%;
  height: 96%;
  object-fit: cover;
  transition: z-index 0.3s ease, opacity 0.3s ease;
}

.secondImg{
  z-index: 0;
  opacity: 0;
}
.categoryImg:hover .secondImg{
  z-index: 1;
  opacity: 1;
}

.categoryImg:hover .firstImg{
  z-index: 1;
  opacity: 0;
}

.category a {
  text-decoration: none;
  color: black;
}

.categoryTitle {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 7px;
  text-transform: uppercase;
}
